<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
          integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.11.11/html-to-image.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/alert.css">
    <link rel="stylesheet" href="style/project.css">
    <link rel="stylesheet" href="style/title.css">
    <link rel="stylesheet" href="style/prize.css">
    <link rel="stylesheet" href="style/modal.css">
    <script src="service.js" defer></script>
    <title>이창의 resume</title>
</head>
<body>
<div id="mobileMessage">데스크탑 환경에 최적화되어 있습니다. <br> 모바일로 보실경우 양해 바랍니다.</div>
<div class="box">
    <i onclick="generatePDF()" class="fa-solid fa-print fa-lg download_icon" style="color: #000000;"></i>
    <div class="main-container">
        <div class="title">
            <p class="title-name" th:text="${user.name}"></p>
            <div class="title-channel">
                <p class="title-channel-name">Channel.</p>
                <a class="title-channel-name" target="_blank" th:href="${user.githubLink}">
                    <i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i>
                </a>
                <a class="title-channel-name" target="_blank" th:href="${user.blogLink}">
                    <i class="fa-solid fa-blog fa-2xl" style="color: #ff8800;"></i>
                </a>
            </div>
        </div>
        <div class="title">
            <p style="color: grey; margin-top: 0.5rem">Backend Developer</p>
            <div class="title-channel">
                <p class="title-contact">Contact Me. &nbsp</p>
                <a class="title-contact title-cursor" th:onclick="copy_email([[${user.emailLink}]])">
                    <i class="fa-solid fa-envelope fa-2xl"></i>
                </a>
            </div>
        </div>
        <div>
            <ul style="list-style: disc">
                <li th:each="intro : ${user.introductions}" th:utext="${intro}"></li>
            </ul>
        </div>
        <hr>
        <div>
            <p class="header">Project</p>
            <div class="project-box" th:each="project : ${projects}">
                <div style="margin-bottom: 0.4rem">
                    <a class="project-github" target="_blank" th:href="${project.githubLink}">
                        <i class="fa-brands fa-github fa-beat fa-lg"></i>
                        <span class="project-name" th:text="${project.name}"></span>
                    </a>
                </div>
                <p class="project-date-range" th:text="${project.startDate} + ' ~ ' + ${project.endDate}"></p>
                <p class="project-description" th:text="${project.description}"></p>
                <div class="project-tech-stacks" th:if="${project.techStacks}">
                    <span class="inline-code" th:classappend="${iter.index} > 0 ? 'project-tech-stack' : ''"
                          th:each="techStack, iter : ${project.techStacks}" th:text="${techStack}"></span>
                </div>
                <ul class="project-works" th:if="${project.works}">
                    <li th:each="work : ${project.works}" th:text="${work}"></li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <p class="header">Prize</p>
            <div class="project-box" th:each="prize : ${prizes}">
                <div style="margin-bottom: 0.4rem">
                        <span class="prize-title">
                            <div>
                                <a th:onclick="openModal([[${prize.imageUrl}]])" style="cursor: pointer">
                                    <i class="fa-solid fa-image fa-beat fa-lg"></i>
                                    <span class="project-name" th:text="${prize.name}"></span>
                                </a>
                                <span class="inline-code" th:text="${prize.prize}"></span>
                            </div>
                            <span class="prize-agency" th:text="${prize.agency}"></span>
                        </span>
                </div>
                <p class="project-date-range" th:text="${prize.date}"></p>
                <p class="project-date-range" th:text="${prize.projectName}"></p>
                <p class="project-description" th:text="${prize.description}"></p>
            </div>
        </div>
        <hr>
        <div id="modalContainer"></div>
        <div>
            <p class="header">Education</p>
            <div class="project-box" th:each="edu : ${educations}">
                <div style="margin-bottom: 0.4rem">
                        <div class="prize-title">
                            <div>
                                <a class="project-github" target="_blank" style="cursor: pointer" th:href="${edu.evidenceUrl}">
                                    <i class="fa-solid fa-building-columns fa-beat fa-lg"></i>
                                    <span class="project-name" th:text="${edu.name}"></span>
                                </a>
                                <span class="inline-code" th:text="${edu.isProgress} ? '진행중' : '수료'"></span>
                            </div>
                            <span class="prize-agency" th:text="${edu.agency}"></span>
                        </div>
                </div>
                <p class="project-date-range" th:text="${edu.startDate} + ' ~ ' + ${edu.endDate}"></p>
                <p class="project-description" th:text="${edu.description}"></p>
            </div>
            <hr>
        </div>
        <div>
            <p class="header">Paper</p>
            <div class="project-box" th:each="paper : ${papers}">
                <div style="margin-bottom: 0.4rem">
                    <span>
                        <a class="project-github" target="_blank" th:href="${paper.paperUrl}">
                            <i class="fa-solid fa-book fa-beat fa-lg"></i>
                            <span class="project-name" th:text="${paper.name}"></span>
                        </a>
                    </span>
                </div>
                <p class="project-date-range" th:text="${paper.date}"></p>
                <span class="prize-title" style="margin-bottom: 0.5rem">
                    <span class="prize-agency" th:text="${paper.type}"></span>
                    <span class="prize-agency" th:text="${paper.institute}"></span>
                </span>
                <ul class="project-works" th:if="${paper.descriptions}">
                    <li th:each="desc : ${paper.descriptions}" th:text="${desc}"></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>